html, body {
 margin: 0; 
 background-color: #FAF8F8;
 
}

.header {
    background-color: #D9D9D9;
    text-align: center;
    width: 200px;
    height: 20px;
    margin: 0px auto;
    
}

.header > span {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #10CFC2;
}