.content-container {
    display: flex;
    flex-direction: column;
}

.user-message {
    max-width: 70%;
    background-color: #ffffff;
    /* margin-left: auto; */
    align-self: flex-end;
    margin-right: 15px;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    padding: 0 10px 0 10px;
    border: 1px solid #cccccc;
    border-radius: 40px;
}

.bot-message {
    max-width: 70%;
    margin-left: 50px;
    /* margin-right: 15px; */
    margin-top: 10px;
    /* margin-bottom: 10px; */
    padding: 0 10px 0 10px;
    transition: margin 0.5s ease;

}

.content-container {
  transition: margin-left .5s;
}

body.nav-expanded .content-container {
  margin-left: var(--nav-message-trans);
}

/* body.nav-expanded .bot-message {
  margin-left: var(--nav-message-trans);
}

body.nav-expanded .user-message {
  margin-left: var(--nav-message-trans);
} */
